.signupParentDiv {
    border: 1px solid black;
    width: 400px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    padding-bottom: 20px;
  }
  
  .signupParentDiv .input {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline-color: transparent;
    margin-bottom: 10px;
  }
  
  .signupParentDiv button {
    width: 100%;
    height: 48px;
    background-color: #002f34;
    color: whitesmoke;
    font-weight: 900;
  }
  .signupParentDiv button:hover {
    background-color: white;
    color: #002f34;
    border: 2px solid #002f34;
  }
  
  .signupParentDiv a {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  
  .signupParentDiv img{
    margin-top: -30px;
  }